[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
sqlmodel = "*"
pwdlib = {extras = ["argon2"], version = "*"}
pyjwt = "*"
alembic = "*"
psycopg = "*"
psycopg-binary = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
